{% extends "index.html" %}

{% block content %}

<div class="container">
    <div class="row mb-2">
        <div class="col">
            <form method="POST", action="{{ url_for('update_cart') }}">
                {{ form.csrf_token }}
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Item</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Price PLN</th>
                          <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in cart %}
                            <tr>
                                {{ form.product_id(value=cart[product].product_id, type="hidden") }}
                                <td>{{ cart[product].name }}</td>
                                <td>{{ form.quantity(value=cart[product].quantity) }}</td>
                                <td>{{ "{:.2f}".format(cart[product].line_total) }}</td>
                                <td><a href="{{ url_for('remove_from_cart', product_id=cart[product].product_id) }}" class="btn btn-danger"><i class="bi bi-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                    <tr>
                        <td>Total:</td>
                        <td></td>
                        <td>{{ "{:.2f}".format(total) }}</td>
                    </tr>
                    </tbody>
                </table>
                {{ form.submit(class="btn btn-primary") }}
            </form>
            </div>
        </div>
    <div class="row mb-2">
        <div class="col">
            <a href="{{ url_for('checkout') }}" class="btn btn-success" title="Update first if you changed anything in your cart.">Checkout</a>
        </div>
    </div>

</div>

{% endblock %}