{% extends "index.html" %}

{% block content %}
<div class="container">
    <h2>Addresses</h2>
    {% for address in addresses %}
        <p>{{ address.line_1 or "" }}</p>
        <p>{{ address.line_2 or "" }}</p>
        <p>{{ address.street }}</p>
        <p>{{ address.postcode }} {{ address.city }}</p>
        <p>{{ address.country }}</p>
        <a href="{{ url_for('delete_address', address_id=address.id) }}" class="btn btn-warning">Delete</a>
    {% endfor %}
    <h3>New Address</h3>
        <form method="POST" action="{{ url_for('add_address') }}">
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.line_1.label(class="form-label") }}
            {% if form.errors.line_1 %}
                {{ form.line_1(size=20, class="form-control is-invalid") }}
            {% else %}
                {{ form.line_1(size=20, class="form-control") }}
            {% endif %}
             <div class="invalid-feedback">{{ form.errors.line_1|join(' ') }}</div>
        </div>
        <div class="mb-3">
            {{ form.line_2.label(class="form-label") }}
            {% if form.errors.line_2 %}
                {{ form.line_2(size=20, class="form-control is-invalid") }}
            {% else %}
                {{ form.line_2(size=20, class="form-control") }}
            {% endif %}
             <div class="invalid-feedback">{{ form.errors.line_2|join(' ') }}</div>
        </div>
        <div class="mb-3">
            {{ form.street.label(class="form-label") }}
            {% if form.errors.street %}
                {{ form.street(size=20, class="form-control is-invalid") }}
            {% else %}
                {{ form.street(size=20, class="form-control") }}
            {% endif %}
             <div class="invalid-feedback">{{ form.errors.street|join(' ') }}</div>
        </div>
        <div class="mb-3">
            {{ form.city.label(class="form-label") }}
            {% if form.errors.city %}
                {{ form.city(size=20, class="form-control is-invalid") }}
            {% else %}
                {{ form.city(size=20, class="form-control") }}
            {% endif %}
             <div class="invalid-feedback">{{ form.street.city|join(' ') }}</div>
        </div>
        <div class="mb-3">
            {{ form.postcode.label(class="form-label") }}
            {% if form.errors.postcode %}
                {{ form.postcode(size=20, class="form-control is-invalid") }}
            {% else %}
                {{ form.postcode(size=20, class="form-control") }}
            {% endif %}
             <div class="invalid-feedback">{{ form.errors.postcode|join(' ') }}</div>
        </div>
        <div class="mb-3">
            {{ form.country.label(class="form-label") }}
            {% if form.errors.country %}
                {{ form.country(size=20, class="form-control is-invalid") }}
            {% else %}
                {{ form.country(size=20, class="form-control") }}
            {% endif %}
             <div class="invalid-feedback">{{ form.errors.country|join(' ') }}</div>
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <h2>Order History</h2>
    {% for order in orders %}
        {% for field in order %}
            {% if field.name != 'order_items' %}
                {{ field }}
            {% else %}
                {% for item in  field %}
                    {{ item }}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}