{% extends "index.html" %}

{% block content %}

<div class="overlay"></div>
    <div class="container">
      <div class="row">
          <div class="col">
              <img src="{{ url_for('static', filename=product.filename) }}" class="card-img-top">
          </div>
          <div class="col">
          <h1>{{product.name}}</h1>
          <p>{{product.description}}</p>
          <p>{{ "PLN {:.2f}".format(product.price) }}</p>
              <form method="post", action="{{ url_for('add_to_cart') }}">
                {{ form.csrf_token }}
                {{ form.product_id(value=product.id, type="hidden") }}
                {{ form.quantity.label(class="form-label") }}{{ form.quantity(class="form-control") }}
                <button type="submit" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg> Add to Cart
                </button>
              </form>
            </a>
          </div>
        </div>
      </div>
    </div>


{% endblock %}